*{
    margin: 0;
    padding: 0;
    outline: 0;
}

.navbar-container{
    display: block;
    display: flex;
    /* border: solid; */
    width: 1300px;
    flex-direction: row;
    justify-content: left;
    align-items: center;    
    margin: auto;
    margin-top: 30px;
    /* justify-content: space-between; */

}

/* img[src="./assets/Logo.png"]{
    margin-top: 30px;    
} */

.list{
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    gap: 70px;
    font-weight: 700;
    font-family: Poppins;
    color: grey;
}

.list-item:hover{
    color: black;    
}
.nav-button{
    /* Position: absolute; */
    flex: 1;
    /* position: left 10%;     */
    width: 120px;
    height: 50px;    
    font-size: 15px;
    margin-left: 400px;
    background-color: #5955B3;
    border: none;
    color: aliceblue;
    border-radius: 8px;
    font-family: Poppins;
}

.banner-container{
    display: flex;
    /* border: solid; */
    width: 1300px;
    justify-content: left;
    align-items: center;    
    margin: auto;
    margin-top: 100px;

}
.heading-text{
    display: block;
    line-height: 60px;
    /* border: solid; */
    width: 400px;
    height: 200px;
    font-family: Poppins;
    color: #3C2F60;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}
.description{
    display: block;
    /* border: solid; */
    width: 400px;
    font-family: Poppins;
    margin-bottom: 100px;
}

img[src="./assets/Header Illustration.png"]{  
    padding-right: 20px;
    max-width: 100%;
}

.btn{  
  width: 200px;
  height: 60px;
  margin-left: auto;  
}

.heading-text > span {
    color: hsl(240, 53%, 41%);
}